[submodule "packages/chr"]
	path = packages/chr
	url = git://yap.dcc.fc.up.pt/chr
[submodule "packages/clpqr"]
	path = packages/clpqr
	url = git://yap.dcc.fc.up.pt/clpqr
[submodule "packages/jpl"]
	path = packages/jpl
	url = git://yap.dcc.fc.up.pt/jpl
[submodule "packages/zlib"]
	path = packages/zlib
	url = git://yap.git.sourceforge.net/gitroot/yap/zlib
[submodule "packages/http"]
	path = packages/http
	url = ssh://vsc@yap.git.sourceforge.net/gitroot/yap/http
