*~
*.itf
*.po
*.qlf
*.xwam
*.wam
*.ma
*.s
*.o
*.so
*.dylib
*.dll
docs/yap.info*
.build
tags
TGSautom4te.cache
cscope.*
GPATH
m32
GRTAGS
GTAGS
tmtags*
.autotools
.Rhistory
.zedstate
config.h
Yap.h
YapConfig.h
YapTermConfig.h
.graffiti
.#*#
*/#*#
*bak
*rej
*.db
groups
*.ede
.??*
*ggtags*
.atom-build.josn
.autotools
.cproject
.dir-locals.el
.DS_store
.kateproject
.project
.pydevproject
.Rhistory
.zedstate
.graffiti
.kateproject
autom4te.cache
*rej
#*
#*#
config.h
*.html
packages/gecode/dev
JIT/HPP/bkp
cmake_install.cmake
cmake_clean.cmake
*.build
C/myabsmi.c
*.ctags#
*.hs
CMakeFiles
*.make
C/new_iop.c
*.pdf
*.log
*.orig
JIT/HPP/#JIT_In#
*.text
yap
*startup.yss
*cmake_files
C/pl-yap.c
GitSHA1.c
.vscode
CMakeLists.txt.*
FindPackageLog.txt
GitSHA1.c
clang
cmake-build-debug
os/YapIOConfig.h
CodeBlocks
x
os/readterm.c.cpp

os/readterm.c.cpp

packages/ProbLog/problog_examples/output/,_query_1_cluster_1.dot

packages/ProbLog/#problog_lbdd.yap#

packages/ProbLog/problog_examples/output/,_query_1_cluster_1.dot

packages/ProbLog/problog_examples/output/out.dat

packages/ProbLog/problog_examples/outputvalues.pl

packages/ProbLog/problogbdd

packages/raptor/raptor_config.h

packages/real/rconfig.h

packages/ProbLog/problog/#completion.yap#

packages/ProbLog/problog_examples/output
packages/ProbLog/problog_examples/queries
packages/swig/java/*.java
packages/swig/java/*.class
packages/swig/java/*.jar
packages/swig/java/*wrap*
*jnilib
*.jar
*LOG
packages/cplint/approx/simplecuddLPADs/LPADBDD

packages/swi-minisat2/˜:ilp
packages/swig/android/app
packages/cplint/L

packages/CLPBN/horus/hcli
tmp
Eclipse
packages/bdd/simplecudd/problogbdd
trace
packages/bdd/cudd_config.h
Makefile
build
Debug
debug
Release
Build
xcode
Threads
droid
mxe
mxe32
msys2
caret
codelite
configure
Qt
cmake/cmake-android
sublime
yap-6.3.workspace
yap-6.3.geany
YAP.project
CBlocks
yPQ	
*.tmp
YAP.sublime*
yap32
Eclipse
codeblocks
yap-6.3.tags
android
yap.prj

yap.VITORs-MBP.vsc.pui
vc
packages/myddas/pl/myddas_odbc.yap

packages/myddas/pl/myddas_postgres.yap

packages/myddas/pl/myddas_sqlite3.ypp

packages/myddas/pl/#myddas_postgres.ypp#

packages/myddas/hh

packages/myddas/DaysInHospital_Y3.csv

packages/myddas/agile.csv

*.pyc

*.cmake#

*.tex

*.c#

packages/swig/yap_wrap.cxx

packages/swig/yap_wrap.h

packages/swig/yap_wrap.cpp

packages/swig/yap.py

*.ipynb

packages/python/yap_kernel/x/__init__.py

packages/python/yap_kernel/x/__main__.py

*.gch
mxe
build

library/system/#CMakeLists.txt#
*.txt#
cmake/CMakeCache.txt

C/compiling_error.txt

cmake/compile_commands.json

cmake/cudd_config.h

cmake/docs/Doxyfile
