*~
*.itf
*.po
*.qlf
*.xwam
*.wam
*.ma
*.s
*.o
*.so
*.dylib
*.dll
docs/yap.info*
.build
tags
TGSautom4te.cache
cscope.*
GPATH
GRTAGS
GTAGS
tmtags*
.autotools
.Rhistory
.zedstate
config.h
Yap.h
YapConfig.h
YapTermConfig.h
.graffiti
.#*#
*/#*#
*bak
*rej
*.db
groups
*.ede
.??*
*ggtags*
.atom-build.josn
.autotools
.cproject
.dir-locals.el
.DS_store
.kateproject
.project
.pydevproject
.Rhistory
.zedstate
.graffiti
.kateproject
autom4te.cache
*rej
#*
#*#
config.h
*.html
packages/gecode/dev
JIT/HPP/bkp
cmake_install.cmake
cmake_clean.cmake
*.build
C/myabsmi.c
*.ctags#
*.hs
CMakeFiles
*.make
C/new_iop.c
*.pdf
*.log
*.orig
JIT/HPP/#JIT_In#
*.text
yap
*startup.yss
*cmake_files
C/pl-yap.c
GitSHA1.c
.vscode
CMakeLists.txt.*
FindPackageLog.txt
GitSHA1.c
out
GitSHA1.c

os/YapIOConfig.h

os/YapIOConfig.h

os/YapIOConfig.h

os/readterm.c.cpp

os/readterm.c.cpp

packages/ProbLog/problog_examples/output/,_query_1_cluster_1.dot

packages/ProbLog/#problog_lbdd.yap#

packages/ProbLog/problog_examples/output/,_query_1_cluster_1.dot

packages/ProbLog/problog_examples/output/out.dat

packages/ProbLog/problog_examples/outputvalues.pl

packages/ProbLog/problogbdd

packages/raptor/raptor_config.h

packages/real/rconfig.h

packages/ProbLog/problog/#completion.yap#

packages/ProbLog/problog_examples/output
packages/ProbLog/problog_examples/queries
packages/swig/java/*.java
packages/swig/java/*.class
packages/swig/java/*.jar
packages/swig/java/*wrap*
*jnilib
*.jar

packages/cplint/approx/simplecuddLPADs/LPADBDD

packages/swi-minisat2/˜:ilp

packages/cplint/L

packages/CLPBN/horus/hcli

packages/bdd/simplecudd/problogbdd

packages/bdd/cudd_config.h
Makefile
build
Debug
debug
Release
Build
xcode
Threads
mxe
caret

configure

cmake/cmake-android

yap-6.3.workspace

YAP.project
sublime
*.tmp
CBlocks