
.page:before {
	content: counter(page) " of " counter(pages);
}

@page :left {
	margin-left: 2cm;
	margin-right: 3cm;
	margin-top: 2cm;
	margin-bottom: 2cm;
}

@page :right {
	margin-left: 3cm;
	margin-right: 2cm;
	margin-top: 2cm;
	margin-bottom: 2cm;
}

@page body {
	counter-reset: page;
}

body {
	color: black;
	font-size: 10pt;
	font-family: Times, serif;
	padding: 18pt 0pt 18pt 0pt;
	margin: 0pt;
	background: white;
	page: body;
	region: body;
	hyphenate: true;
}

.navtop {
	display: none;
}

.top-left { 
	font-size: 9pt;
	font-weight: bold;
	border-color: black;
	border-width: 0pt 0pt 1pt 0pt;
	border-style: solid;
	region: top;
	page: left;
	text-align: left;
}

.top-right { 
	font-size: 9pt;
	font-weight: bold;
	border-color: black;
	border-width: 0pt 0pt 1pt 0pt;
	border-style: solid;
	region: top;
	page: right;
	text-align: right;
}

.bottom-left { 
	page: left;
	region: bottom;
	text-align: left;
	font-size: 9pt;
	font-weight: bold;
	border-color: black;
	border-width: 1pt 0pt 0pt 0pt;
	border-style: solid;
}

.bottom-right { 
	page: right;
	region: bottom;
	text-align: right;
	font-size: 9pt;
	font-weight: bold;
	border-color: black;
	border-width: 1pt 0pt 0pt 0pt;
	border-style: solid;
}

a {
	color: black;
	text-decoration: none;
	outline: none;
}

a[href] {
	link: href;
}

a[id] {
	anchor: name;
}

.footer {
	text-align: right;
	font-size: 9pt;
	page-break-before: avoid;
	page-break-inside: avoid;
}

.navbottom {
	display: none;
}

.copyright {
	display: inline;
}

.footnote {
}

.validators {
	display: none;
}

.date {
	font-size: 9pt;
	display: inline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	text-align: left;
}

h1 {
	padding-top: 96pt;
}

code {
	color: maroon;
	font-size: 9pt;
	font-family: Monaco, 'Courier New', Courier, monospace;
	hyphenate: false;
}

.code {
	color: maroon;
	font-family: Monaco, 'Courier New', Courier, monospace;
}

pre {
	color: maroon;
	font-size: 9pt;
	font-family: Monaco, 'Courier New', Courier, monospace;
	text-align: left;
	background-color: #efefef;
	border-color: #111111;
	border-width: 1pt;
	border-style: double;	
	padding: 8pt;
	page-break-before: avoid;
}

ul, ol, dl {
	display: compact;
	page-break-before: avoid;
}
