body {
	color: #353535;
	font-size: 11pt;
	font-family: verdana, arial, sans-serif;
	background: #eee;
	margin: 12pt;
}

.navtop {
	font-size: 9pt;
	text-align: right;
	border-color: #000000;
	border-width: 1pt 0pt 0pt 0pt;
	border-style: solid;
	padding: 3pt 0pt 12pt 0pt;
}

.top-left, .top-right, .bottom-left, .bottom-right {
	display: none;
}

.footer {
	font-size: 9pt;
	clear: left;
	padding: 12pt 0pt 6pt 0pt;
}

.navbottom {
	text-align: right;
	border-width: 0pt 0pt 1pt 0pt;
	border-style: solid;
	padding-bottom: 3pt;
}

.copyright {
	font-size: 9pt;
	text-align: center;
	padding-top: 3pt;
}

.validators {
	float: left;
	position: relative;
}

.date {
	float: right;
	position: relative;
}

a {
	text-decoration: none;
	color: navy;
	outline: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

code {
	color: maroon;
	font-family: monaco, courier, monospace;
	font-size: 10pt;
}

.code {
	color: maroon;
	font-family: monaco, courier, monospace;
}

pre {
	color: maroon;
	font-family: monaco, courier, monospace;
	font-size: 10pt;
	padding: 6pt 24pt 6pt 24pt;
}