body {
	color: #353535;
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	background: #ddd;
	margin: 12pt
}

.title {
	color: maroon;
	font-size: 24pt;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	text-align: center;
	padding: 0pt 0pt 6pt 0pt;
}

.topictitle {
	color: maroon;
	font-size: 12pt;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	text-align: left;
}

.topic {
	padding: 0pt 0pt 0pt 24pt;
}

.spacer {
}

.navbottom {
	font-size: 9pt;
	text-align: right;
	border-width: 0pt 0pt 1pt 0pt;
	border-style: solid;
	padding: 12pt 0pt 3pt 0pt;
}

.navtop {
	text-align: right;
	font-size: 9pt;
	border-color: #000000;
	border-width: 1pt 0pt 0pt 0pt;
	border-style: solid;
	padding: 3pt 0pt 12pt 0pt;
}

.copyright {
	text-align: center;
	font-size: 9pt;
	padding: 9pt 0pt 9pt 0pt;
}

.footer {
	clear: left;
	text-align: right;
	font-size: 9pt;
	border-color: #000000;
	border-width: 1pt 0pt 0pt 0pt;
	border-style: solid;
	padding: 0pt 0pt 9pt 0pt;
}

a {
	text-decoration: none;
	color: navy;
	outline: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

.bleft {
	float: left;
	position: relative;
}

.bright {
	float: right;
	position: relative;
}

code, pre {
	color: maroon;
	font-family: courier, monospace;
}