".source.prolog":
  editor:
    increaseIndentPattern: "(:-|--\\>)\\s*$|^\\s*(->|\\*->|\\;)\\s*$|^\\s*(->|\\*->|\\(|\\{|\\;)\\s*$"
    decreaseIndentPattern: "^\\s*(->|\\*->|\\}(\\,)?|\\)(\\,)?|\\;)\\s*$"
    decreaseNextIndentPattern: "(\\.)\\s*$"
    foldEndPattern: "(\\*/|:-\\s+(endif|end_(object|protocol|category))(?=[.]))"
 foldingStartMarker: "^(([a-z]\\w*|\\'\\$\\w\\')\\(|\\s*\\(|\\s*\\/\\*)"
foldingStopMarker: "(\\)|\\.|\\*\\/)\\s*$"
completions: [
	"C"
	"abolish"
	"abolish_all_tables"
	"abolish_frozen_choice_points"
	"abolish_module"
	"abolish_table"
	"abort"
	"absolute_file_name"
	"absolute_file_system_path"
	"access"
	"access_file"
	"acyclic_term"
	"add_import_module"
	"add_to_array_element"
	"add_to_path"
	"alarm"
	"all"
	"always_prompt_user"
	"arena_size"
	"arg"
	"array"
	"array_element"
	"assert"
	"assert_static"
	"asserta"
	"asserta_static"
	"assertz"
	"assertz_static"
	"at_end_of_line"
	"at_end_of_stream"
	"at_end_of_stream_0"
	"at_halt"
	"atom"
	"atom_chars"
	"atom_codes"
	"atom_concat"
	"atom_length"
	"atom_number"
	"atom_string"
	"atom_to_term"
	"atomic"
	"atomic_concat"
	"atomic_length"
	"atomic_list_concat"
	"atomics_to_string"
	"attvar"
	"b_getval"
	"b_setval"
	"bagof"
	"bb_delete"
	"bb_get"
	"bb_put"
	"bb_update"
	"between"
	"bootstrap"
	"break"
	"call"
	"call_cleanup"
	"call_count"
	"call_count_data"
	"call_count_reset"
	"call_residue"
	"call_residue_vars"
	"call_shared_object_function"
	"call_with_args"
	"callable"
	"catch"
	"catch_ball"
	"cd"
	"cfile_search_path"
	"char_code"
	"char_conversion"
	"char_type"
	"clause"
	"clause_property"
	"close"
	"close_shared_object"
	"close_static_array"
	"code_type"
	"commons_directory"
	"commons_library"
	"compare"
	"compile"
	"compile_expressions"
	"compile_predicates"
	"compound"
	"consult"
	"consult_depth"
	"context_module"
	"copy_term"
	"copy_term_nat"
	"create_mutable"
	"create_prolog_flag"
	"creep_allowed"
	"current_atom"
	"current_char_conversion"
	"current_host"
	"current_input"
	"current_key"
	"current_line_number"
	"current_module"
	"current_mutex"
	"current_op"
	"current_output"
	"current_predicate"
	"current_prolog_flag"
	"current_reference_count"
	"current_stream"
	"current_thread"
	"db_files"
	"db_reference"
	"debug"
	"debugging"
	"decrease_reference_count"
	"del_attr"
	"del_attrs"
	"delete_import_module"
	"depth_bound_call"
	"dif"
	"discontiguous"
	"display"
	"do_c_built_in"
	"do_c_built_metacall"
	"do_not_compile_expressions"
	"dum"
	"dump_active_goals"
	"duplicate_term"
	"dynamic"
	"dynamic_predicate"
	"dynamic_update_array"
	"eamconsult"
	"eamtrans"
	"end_of_file"
	"ensure_loaded"
	"erase"
	"eraseall"
	"erased"
	"exists"
	"exists_directory"
	"exists_file"
	"exists_source"
	"exo_files"
	"expand_expr"
	"expand_exprs"
	"expand_file_name"
	"expand_goal"
	"expand_term"
	"expects_dialect"
	"export"
	"export_list"
	"export_resource"
	"extend"
	"fail"
	"false"
	"file_base_name"
	"file_directory_name"
	"file_exists"
	"file_name_extension"
	"file_search_path"
	"file_size"
	"fileerrors"
	"findall"
	"float"
	"flush_output"
	"forall"
	"foreign_directory"
	"format"
	"freeze"
	"freeze_choice_point"
	"frozen"
	"functor"
	"garbage_collect"
	"garbage_collect_atoms"
	"gc"
	"get"
	"get0"
	"get_attr"
	"get_attrs"
	"get_byte"
	"get_char"
	"get_code"
	"get_depth_limit"
	"get_mutable"
	"get_string_code"
	"get_value"
	"getcwd"
	"getenv"
	"global_trie_statistics"
	"ground"
	"grow_heap"
	"grow_stack"
	"halt"
	"heap_space_info"
	"hide_atom"
	"hide_predicate"
	"hostname_address"
	"hread_get_message"
	"hread_signal"
	"if"
	"ignore"
	"import_module"
	"incore"
	"increase_reference_count"
	"init_random_state"
	"initialization"
	"instance"
	"instance_property"
	"int_message"
	"integer"
	"is"
	"is_absolute_file_name"
	"is_list"
	"is_mutable"
	"is_tabled"
	"isinf"
	"isnan"
	"key_erased_statistics"
	"key_statistics"
	"keysort"
	"leash"
	"length"
	"libraries_directories"
	"line_count"
	"listing"
	"load_absolute_foreign_files"
	"load_db"
	"load_files"
	"load_foreign_files"
	"log_event"
	"logsum"
	"ls"
	"ls_imports"
	"make"
	"make_directory"
	"make_library_index"
	"message_queue_create"
	"message_queue_destroy"
	"message_queue_property"
	"message_to_string"
	"mmapped_array"
	"module"
	"module_property"
	"module_state"
	"msort"
	"multifile"
	"must_be_of_type"
	"mutex_create"
	"mutex_property"
	"mutex_unlock_all"
	"name"
	"nb_create"
	"nb_current"
	"nb_delete"
	"nb_getval"
	"nb_linkarg"
	"nb_linkval"
	"nb_set_bit"
	"nb_set_shared_arg"
	"nb_set_shared_val"
	"nb_setarg"
	"nb_setval"
	"new_system_module"
	"nl"
	"no_source"
	"no_style_check"
	"nodebug"
	"nofileeleerrors"
	"nogc"
	"nonvar"
	"nospy"
	"nospyall"
	"not"
	"notrace"
	"nth_clause"
	"nth_instance"
	"number"
	"number_atom"
	"number_chars"
	"number_codes"
	"number_string"
	"numbervars"
	"on_exception"
	"on_signal"
	"once"
	"op"
	"opaque"
	"open"
	"open_pipe_stream"
	"open_shared_object"
	"opt_statistics"
	"or_statistics"
	"ortray_clause"
	"otherwise"
	"parallel"
	"parallel_findall"
	"parallel_findfirst"
	"parallel_once"
	"path"
	"peek"
	"peek_byte"
	"peek_char"
	"peek_code"
	"phrase"
	"plus"
	"portray_clause"
	"predicate_erased_statistics"
	"predicate_property"
	"predicate_statistics"
	"predmerge"
	"predsort"
	"primitive"
	"print"
	"print_message"
	"print_message_lines"
	"private"
	"profalt"
	"profend"
	"profile_data"
	"profile_reset"
	"profinit"
	"profoff"
	"profon"
	"prolog"
	"prolog_current_frame"
	"prolog_file_name"
	"prolog_file_type"
	"prolog_flag"
	"prolog_flag_property"
	"prolog_initialization"
	"prolog_load_context"
	"prolog_to_os_filename"
	"prompt"
	"prompt1"
	"put"
	"put_attr"
	"put_attrs"
	"put_byte"
	"put_char"
	"put_char1"
	"put_code"
	"putenv"
	"pwd"
	"qend_program"
	"qload_file"
	"qload_module"
	"qpack_clean_up_to_disjunction"
	"qsave_file"
	"qsave_module"
	"qsave_program"
	"raise_exception"
	"rational"
	"rational_term_to_forest"
	"read"
	"read_clause"
	"read_sig"
	"read_term"
	"read_term_from_atom"
	"read_term_from_atomic"
	"read_term_from_string"
	"real_path"
	"reconsult"
	"recorda"
	"recorda_at"
	"recordaifnot"
	"recorded"
	"recordz"
	"recordz_at"
	"recordzifnot"
	"release_random_state"
	"remove_from_path"
	"rename"
	"repeat"
	"reset_static_array"
	"reset_total_choicepoints"
	"resize_static_array"
	"restore"
	"retract"
	"retractall"
	"rmdir"
	"same_file"
	"save_program"
	"see"
	"seeing"
	"seen"
	"set_base_module"
	"set_input"
	"set_output"
	"set_prolog_flag"
	"set_random_state"
	"set_stream"
	"set_stream_position"
	"set_value"
	"setarg"
	"setenv"
	"setof"
	"setup_call_catcher_cleanup"
	"setup_call_cleanup"
	"sformat"
	"sh"
	"show_all_local_tables"
	"show_all_tables"
	"show_global_trie"
	"show_global_trieshow_tabled_predicates"
	"show_low_level_trace"
	"show_table"
	"show_tabled_predicates"
	"showprofres"
	"simple"
	"skip"
	"skip1"
	"socket"
	"socket_accept"
	"socket_bind"
	"socket_close"
	"socket_connect"
	"socket_listen"
	"sort"
	"sort2"
	"source"
	"source_file"
	"source_file_property"
	"source_location"
	"source_mode"
	"source_module"
	"split_path_file"
	"spy"
	"srandom"
	"start_low_level_trace"
	"stash_predicate"
	"static_array"
	"static_array_location"
	"static_array_properties"
	"static_array_to_term"
	"statistics"
	"stop_low_level_trace"
	"stream_position"
	"stream_position_data"
	"stream_property"
	"stream_select"
	"string"
	"string_chars"
	"string_code"
	"string_codes"
	"string_concat"
	"string_length"
	"string_number"
	"string_to_atom"
	"string_to_atomic"
	"string_to_list"
	"strip_module"
	"style_check"
	"sub_atom"
	"sub_string"
	"subsumes_term"
	"succ"
	"sys_debug"
	"system"
	"system_error"
	"system_library"
	"system_module"
	"system_predicate"
	"t_body"
	"t_head"
	"t_hgoal"
	"t_hlist"
	"t_tidy"
	"tab"
	"tab1"
	"table"
	"table_statistics"
	"tabling_mode"
	"tabling_statistics"
	"tell"
	"telling"
	"term_attvars"
	"term_factorized"
	"term_to_atom"
	"term_to_string"
	"term_variables"
	"thread_at_exit"
	"thread_cancel"
	"thread_create"
	"thread_default"
	"thread_defaults"
	"thread_detach"
	"thread_exit"
	"thread_get_message"
	"thread_join"
	"thread_local"
	"thread_peek_message"
	"thread_property"
	"thread_self"
	"thread_send_message"
	"thread_set_default"
	"thread_set_defaults"
	"thread_signal"
	"thread_sleep"
	"thread_statistics"
	"threads"
	"throw"
	"time"
	"time_file"
	"time_file64"
	"told"
	"tolower"
	"total_choicepoints"
	"total_erased"
	"toupper"
	"trace"
	"true"
	"true_file_name"
	"ttyget"
	"ttyget0"
	"ttynl"
	"ttyput"
	"ttyskip"
	"udi"
	"unhide_atom"
	"unify_with_occurs_check"
	"unix"
	"unknown"
	"unload_file"
	"unload_module"
	"unnumbervars"
	"update_array"
	"update_mutable"
	"use_module"
	"use_system_module"
	"user_defined_directive"
	"var"
	"version"
	"volatile"
	"wake_choice_point"
	"when"
	"with_mutex"
	"with_output_to"
	"working_directory"
	"write"
	"write_canonical"
	"write_depth"
	"write_term"
	"writeln"
	"writeq"
	"yap_flag"
]